a {color: #eee; text-decoration: none}
a:hover {color: blue;}
body {
  overflow: auto;
  overflow-y: auto; 
  overflow-x: hidden;
  background-color: white;
  background-image: url('bg.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin: 0px;}

#webcontainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    
}
#webar{
    flex : 0 0 80%;
    order:1;
    display: flex;
    justify-content: center;
   
}
#eyedesk{
    flex: 0 0 20%;
    padding: 15px 0px 15px 15px;
    order:2;
    height:100vh;
    z-index: 2;
}
#thumb{
    width: 80%;
    max-width: 350px;
    height: auto;
}

.round {
    background: #0069eb;
    border-radius: 30px;
    border: none;
    color: #fff;
    font-size: 14px;
    padding: 10px 50px;
    text-decoration: none; 
}

.round1 {
    border: none;
    color: #fff;
    font-size: 14px;
    padding: 15px 30px;
    height: 50px;
    text-decoration: none; 
}


#nav {
    display: flex;
    background-color: black;
    height: 50px;
    width : 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    flex: 0 0 100%;
    z-index: 1000;
    align-items: center;
}
#canvaser {
  z-index: 10;
  position: relative; 
  max-height: 100%;
  max-width: 100%;
  transform: rotateY(180deg);
} 


@media (max-width: 980px) {
    #webcontainer {
        flex-flow: column nowrap;
    }
    #eyedesk{
       
        height:100%;
        margin-bottom : 50px;
    }
}


.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
    url('loading.gif')
    50% 50%
    no-repeat;
}
body.loading {
    overflow: hidden;
}
body.loading .modal {
    display: block;
}
